@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    /* outline: 1px red solid; */
}

:root {
    --themeColor: #1c0a54;
    --lighterThemeColor: #4db4dd;
}
body {
    background-color: #fff;
    margin: 0 0.5rem;
}